.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


html,
body {
  height: 100%;
  /*background-color: #333;*/
  background: #FFFFFF url('../images/cover/logo.svg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  padding: 0;
  padding-top: 0px;
  text-align: center;
  color: #757171;
}

.nav-papst {
  background-color: #7dcff4;
  border-style: none;
}

.nav-papst .navbar-collapse, .navbar-default .navbar-form {
  border-style: none;
}

.nav-papst .logo {
  padding-left: 15px;
  margin-right: 50px;
}

.nav-papst .navbar-nav {
  margin: 5px -15px 0px -15px;
}


.nav-papst  .navbar-nav  li a{
  color: #ffffff;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

.nav-papst  .navbar-nav  li a:hover,
.nav-papst  .navbar-nav  li a:focus{
  text-decoration: none;
  color: #a5efef;
}

.nav-papst .navbar-toggle {
  border-color: #7dcff4;}

.nav-papst .navbar-toggle:hover,
.nav-papst .navbar-toggle:focus{
  background-color: #ffffff;
}

.cover-content-middle {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .nav-papst .navbar-nav  li:first-child a {
     border-top: 1px solid white;
   }
  .nav-papst .navbar-nav  li a {
    border-bottom: 1px solid white;
  }
}

.angular-google-map-container {
  height: 300px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  /* filter: gray; /* IE6-9 */
  /*-webkit-filter: grayscale(0.4);
  -moz-filter: grayscale(0.4);
  -ms-filter: grayscale(0.4);
  -o-filter: grayscale(0.4);
  filter: grayscale(0.4); */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
footer {
  /*padding-top: 19px;*/
  padding: 0px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.landing-page-container {
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1700px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


  .angular-google-map-container {
    height: 600px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    /* filter: gray; /* IE6-9 */
    /*-webkit-filter: grayscale(0.4);
    -moz-filter: grayscale(0.4);
    -ms-filter: grayscale(0.4);
    -o-filter: grayscale(0.4);
    filter: grayscale(0.4); */
  }
}
