<!--div class="wrapper">
  <img src="http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg" class="img-responsive" alt="Responsive image">
</div-->


<!--div class="landing-page-container">
  <div class="container">
    <div class="div-wrapper" >
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="images/vk_944_685.png"/>
        <source
          media="(min-width: 1050px)"
          srcset="images/vk_755_548.png"/>
        <source
          media="(min-width: 700px)"
          srcset="images/vk_566_411.png"/>
        <source
          media="(min-width: 600px)"
          srcset="images/vk_472_343.png"/>
        <source
          media="(min-width: 500px)"
          srcset="images/vk_378_274.png"/>
        <img
          src="images/vk_189_137.png"
          alt="Therapie Papst"/>
      </picture>
    </div>
  </div>
</div-->

<!-- Spalten-Test
<section class="app_features" id="test_columns">
  <div class="container">

    <div class="row text-center">
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
        <img src="images/capture-theme/f_icon4.png" alt="" title="">

        <h1 class="text-uppercase">Einzigartig</h1>

        <p class="text-justify">Für mich ist jeder Mensch ein vielseitiges einzigartiges Individuum, dass stets im Austausch mit seinem <strong>„Innen“</strong> (Gefühle, Gedanken, Körperempfindungen)
          und seinem <strong>„Außen“</strong> (soziales Umfeld) steht. Die unterschiedlichen Stärken und Entwicklungspotentiale liegen in Ihrer ganz persönlichen Lebens-, Erfahrungs- und Entwicklungsgeschichte
          begründet, welche Ihr Denken, Fühlen und Handeln beeinflusst.
        </p>
      </div>
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
        <img src="images/capture-theme/f_icon1.png" alt="" title="">

        <h1 class="text-uppercase">Erwachsene, Paare</h1>

        <p class="text-justify">Ihre individuellen Bedürfnisse, Ziele und Veränderungswünsche stehen im Mittelpunkt der therapeutischen Gespräche. Gemeinsam mit Ihnen
          als <strong>„ExpertIn für ihre Lebensgeschichte“</strong> möchte ich Sie dabei unterstützen, mögliche alternative Sichtweisen zu entwickeln und dadurch Ihren
          Handlungsspielraum zu erweitern, um die für Sie passenden Veränderungsschritte und Lösungen zu erarbeiten.
        </p>
      </div>
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
        <img src="images/capture-theme/f_icon11.png" alt="" title="">

        <h1 class="text-uppercase">Familie, Mehrpersonensetting</h1>

        <p class="text-justify">Sie tragen viele Fähigkeiten und Ressourcen bereits in sich um die Herausforderungen des Lebens zu meistern. In schwierigen Lebenssituationen
          geraten diese jedoch in den Hintergrund und sind daher nur mehr schwer abrufbar. Mittels wertschätzender und Lösung sorgen ziert er Gespräche soll der Zugang zu
          bereits vorhandenen Stärken und Bewältigungsstrategien wieder möglich gemacht werden, um diese für die anstehenden Veränderungen zu aktivieren.
        </p>
      </div>
      <div class="details animated wow fadeInDown" data-wow-delay=".2s">
                <p class="text-center">Gerne begleite ich Sie mit meinem Wissen, meinen Erfahrungen und mit dem Einsatz von systemischen Methoden, bei der Entwicklung von neuen
         Lösungsmöglichkeiten.
        </p>
    </div>
    </div>
  </div>
</section>

End Spalten-Test -->

<!-- Elefanten-Story -->
<section class="testimonials animated wow fadeIn" id="explanation" data-wow-duration="2s">
  <div class="container">
    <div class="testimonials_list">
      <ul class="list-unstyled text-center slides clearfix" id="tslider">
        <li>
          <blockquote>
            <p class="text-justify">Ein Zirkuselefant von stattlicher Größe ist lediglich mit einem relativ dünnen Seil an einem Holzpflock, der in der Erde steckt, angebunden.
              Ein Besucher wundert sich warum sich der Elefant dadurch davon abhalten lässt wegzulaufen. Als er den Wärter danach fragt, antwortet dieser: "Als der Elefant
              noch klein war, hat er immer wieder versucht sich loszureißen, es aber nicht geschafft. Irgendwann hat er sich damit abgefunden und es nicht  mehr versucht."</p>
          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--  Testimonials Section  -->


<section class="testimonials blue animated wow fadeIn" id="explanation" data-wow-duration="2s">
  <div class="container">
    <div class="testimonials_list">
      <ul class="list-unstyled text-center slides clearfix" id="tslider">
        <li>
          <blockquote>
            <p class="text-justify">Als Systemische Familientherapeutin sehe ich die erlebten Belastungen eines Menschen in Zusammenhang mit seinen relevanten Beziehungen und Lebenskonzepten.
            </p>
          </blockquote>
         <!-- <blockquote>
            <p class="text-justify">Für mich ist jeder Mensch ein vielseitiges einzigartiges Individuum, dass stets im Austausch mit seinem <strong>„Innen“</strong> (Gefühle, Gedanken, Körperempfindungen)
              und seinem <strong>„Außen“</strong> (soziales Umfeld) steht. Die unterschiedlichen Stärken und Entwicklungspotentiale liegen in Ihrer ganz persönlichen Lebens-, Erfahrungs- und Entwicklungsgeschichte
              begründet, welche Ihr Denken, Fühlen und Handeln beeinflusst.
            </p>
          </blockquote> -->
          <p/>
        </li>
        <li>
          <blockquote>
            <p class="text-justify">Ihre individuellen Bedürfnisse, Ziele und Veränderungswünsche stehen im Mittelpunkt der therapeutischen Gespräche.
            </p>
          </blockquote>
          <!--<blockquote>
            <p class="text-justify">Ihre individuellen Bedürfnisse, Ziele und Veränderungswünsche stehen im Mittelpunkt der therapeutischen Gespräche. Gemeinsam mit Ihnen
              als <strong>„ExpertIn für ihre Lebensgeschichte“</strong> möchte ich Sie dabei unterstützen, mögliche alternative Sichtweisen zu entwickeln und dadurch Ihren
              Handlungsspielraum zu erweitern, um die für Sie passenden Veränderungsschritte und Lösungen zu erarbeiten.
            </p>
          </blockquote> -->
          <p/>
        </li>
        <li>
          <blockquote>
            <p class="text-justify">Sie tragen viele Fähigkeiten und Ressourcen bereits in sich um die Herausforderungen des Lebens zu meistern. In schwierigen Lebenssituationen
              geraten diese jedoch in den Hintergrund und sind daher nur mehr schwer abrufbar. Mittels wertschätzender und lösungsorienter Gespräche soll der Zugang zu
              bereits vorhandenen Stärken und Bewältigungsstrategien wieder möglich gemacht werden, um diese für die anstehenden Veränderungen zu aktivieren.
            </p>
          </blockquote>
          <p/>
        </li>
        <li>
          <blockquote>
            <p class="text-justify">Gerne begleite ich Sie mit meinem Wissen, meinen Erfahrungen und mit dem Einsatz von systemischen Methoden, bei der Entwicklung von neuen
              Lösungsmöglichkeiten.
            </p>
          </blockquote>
          <p/>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--  End Testimonials Section  -->

<!-- Therapist Section-->
<a name='atherapist'/>
<section id="therapist" class="therapist">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center animated wow fadeInLeft">
        <div class="portrait">
          <img src="images/therapeut.jpg" alt="" title="">
        </div>
      </div>
      <div class="col-md-6 animated wow fadeInRight">
        <div class="features_list">
          <h1 class="text-uppercase">Mein Angebot</h1>

          <p class="text-justify">Für mich ist jeder Mensch ein vielseitiges einzigartiges Individuum, dass stets im Austausch mit seinem <strong>"Innen"</strong> (Gefühle, Gedanken, Körperempfindungen) und seinem
            <strong>"Außen"</strong> (soziales Umfeld) steht. Die unterschiedlichen Stärken und Entwicklungspotenziale liegen in Ihrer ganz persönlichen Lebens-, Erfahrungs- und Entwicklungsgeschichte
            begründet, welche Ihr Denken, Fühlen und Handeln beeinflusst. </p>

          <p class="text-justify">Mein Hauptaugenmerk liegt auf dem Suchen und Finden von Ressourcen und Fähigkeiten innerhalb dieser ständigen Austauschprozesse, die bei jedem Menschen vorhanden sind, auch wenn er sich
            in einer Problemsituation befindet.</p>

          <p class="text-justify">Gemeinsam mit Ihnen als <strong>"Expertin für Ihre Lebensgeschichte"</strong> möchte ich einschränkende bzw. entwicklungsbehindernde Famlien- und Lebensgeschichten aufzeigen und Sie dabei unterstützen
            die für Sie passende Lösung zu finden.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Therapist Section -->

<!--  Work Emphasis Section  -->
<a name='aemphasis'/>
<section class="app_features with-heading" id="emphasis">
  <div class="container">
    <h3 class="text-uppercase">Thematische Arbeitsschwerpunkte</h3>
    <div class="row text-center">
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
        <img src="images/capture-theme/f_icon4.png" alt="" title="">

        <h1 class="text-uppercase">Kinder, Jugendliche</h1>

        <p class="text-center">Ängste, depressive Verstimmung, Schulprobleme, Bettnässen, Essstörungen, Aufmerksamkeitsstörungen (z.B. Hyperaktivität), Persönlichkeitsentwicklungsstörungen
        (z.B. emotional-instabil)</p>
      </div>
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
        <img src="images/capture-theme/f_icon1.png" alt="" title="">

        <h1 class="text-uppercase">Erwachsene, Paare</h1>

        <p class="text-center">Ängste, Panikattacken, Depression, belastende Lebensereignisse, Essstörungen, Sucht, Persönlichkeitsstörungen (z.B. emotional-instabil, ängstlich vermeidend), Ungelöste Paarkonflikte bzw. Paarprobleme,
          Sexualität, Trennung, Scheidung</p>
      </div>
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
        <img src="images/capture-theme/f_icon11.png" alt="" title="">

        <h1 class="text-uppercase">Familie, Mehrpersonensetting</h1>

        <p class="text-center">Ungelöste Familienkonflikte, chronische psychische Erkrankung eines Familienmitglieds, Trauer, Team- und Fallsupervision im Sozial- und Gesundheitsbereich</p>
      </div>
    </div>
  </div>
</section>
<!-- End Work Emphasis Section  -->


<!--  Testimonials Section  -->
<!--
<section class="testimonials animated wow fadeIn" id="testimonials" data-wow-duration="2s">
  <div class="container">
    <div class="testimonials_list">

      <ul class="list-unstyled text-center slides clearfix" id="tslider">
        <li>
          <blockquote>
            <p>Integer pharetra tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum. Aliquam luctus
              erat nec pulvinar vehicula donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent
              tincidunt mi orci in sollicitudin mi dapibus dapibus pellentesque habitant morbi tristique senectus et
              malesuada fames turpis egestas.</p>
            <span class="author text-uppercase">Alex Fredy</span>
            <span class="job">android developer</span>

          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</section> -->
<!--  End Testimonials Section  -->

<!--h2 style="font-size:2em;">Praxis</h2-->

<a name='amap'/>
<div class="div-wrapper" id="map">
  <ui-gmap-google-map
    center='main.map.center'
    zoom='main.map.zoom'
    options='main.map.options'>
    <ui-gmap-marker coords="main.map.marker.center" idKey="1" options="main.map.marker.options"/>
  </ui-gmap-google-map>
</div>

