<!--div class="wrapper">
  <img src="http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg" class="img-responsive" alt="Responsive image">
</div-->


<!--div class="landing-page-container">
  <div class="container">
    <div class="div-wrapper" >
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="images/vk_944_685.png"/>
        <source
          media="(min-width: 1050px)"
          srcset="images/vk_755_548.png"/>
        <source
          media="(min-width: 700px)"
          srcset="images/vk_566_411.png"/>
        <source
          media="(min-width: 600px)"
          srcset="images/vk_472_343.png"/>
        <source
          media="(min-width: 500px)"
          srcset="images/vk_378_274.png"/>
        <img
          src="images/vk_189_137.png"
          alt="Therapie Papst"/>
      </picture>
    </div>
  </div>
</div-->


<!--  Testimonials Section  -->
<section class="testimonials animated wow fadeIn" id="testimonials" data-wow-duration="2s">
  <div class="container">
    <div class="testimonials_list">

      <ul class="list-unstyled text-center slides clearfix" id="tslider">
        <li>
          <blockquote>
            <p>Integer pharetra tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum. Aliquam luctus
              erat nec pulvinar vehicula donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent
              tincidunt mi orci in sollicitudin mi dapibus dapibus pellentesque habitant morbi tristique senectus et
              malesuada fames turpis egestas.</p>
            <span class="author text-uppercase">John Doe</span>
            <span class="job">IOS developer</span>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>Integer pharetra tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum. Aliquam luctus
              erat nec pulvinar vehicula donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent
              tincidunt mi orci in sollicitudin mi dapibus dapibus pellentesque habitant morbi tristique senectus et
              malesuada fames turpis egestas.</p>
            <span class="author text-uppercase">Alex Fredy</span>
            <span class="job">android developer</span>

          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--  End Testimonials Section  -->

<!--  App Features Section  -->
<section class="app_features" id="app_features">
  <div class="container">

    <div class="row text-center">
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
        <img src="images/capture-theme/f_icon4.png" alt="" title="">

        <h1 class="text-uppercase">malesuada fames turpis.</h1>

        <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis
          risus quisque ultrices elit.</p>
      </div>
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
        <img src="images/capture-theme/f_icon5.png" alt="" title="">

        <h1 class="text-uppercase">malesuada fames turpis.</h1>

        <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis
          risus quisque ultrices elit.</p>
      </div>
      <div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
        <img src="images/capture-theme/f_icon6.png" alt="" title="">

        <h1 class="text-uppercase">malesuada fames turpis.</h1>

        <p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis
          risus quisque ultrices elit.</p>
      </div>
    </div>

  </div>
</section>
<!--  And App Features Section  -->

<!--  Testimonials Section  -->
<section class="testimonials animated wow fadeIn" id="testimonials" data-wow-duration="2s">
  <div class="container">
    <div class="testimonials_list">

      <ul class="list-unstyled text-center slides clearfix" id="tslider">
        <li>
          <blockquote>
            <p>Integer pharetra tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum. Aliquam luctus
              erat nec pulvinar vehicula donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent
              tincidunt mi orci in sollicitudin mi dapibus dapibus pellentesque habitant morbi tristique senectus et
              malesuada fames turpis egestas.</p>
            <span class="author text-uppercase">Alex Fredy</span>
            <span class="job">android developer</span>

          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--  End Testimonials Section  -->

<!--h2 style="font-size:2em;">Praxis</h2-->

<a name='amap'/>
<div class="div-wrapper" id="map">
  <ui-gmap-google-map
    center='main.map.center'
    zoom='main.map.zoom'
    options='main.map.options'>
    <ui-gmap-marker coords="main.map.marker.center" idKey="1" options="main.map.marker.options"/>
  </ui-gmap-google-map>
</div>

